@charset "utf-8";
/* 헤어영역 시작 */
header{
    width: 100%;
    height: 40px;
    background-color: #007cf9;
    position: relative;
}
/* 헤더 윗부분 */
header .h_top{
    max-width: 1200px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #007cf9;
}
header .h_top p{
    text-align: center;
    color: #f4f4f4;
    line-height: 40px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 12px;
}
/* 헤더 아랫부분 */
header .h_bottom{
    max-width: 1200px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* float 해제하기 */
header .h_bottom::after{
    content: "";
    clear: both;
    display: block;
}
/* 로고 부분 */
header .h_bottom .logo{
    width: 400px;
    height: 130px;
    margin: auto 20px;
    float: left;
}
header .h_bottom .logo h1{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px auto 20px;
    position: relative;
}
header .h_bottom .logo h1::after{
    content: "";
    width: 40px;
    height: 5px;
    background-color: #007cf9;
    position: absolute;
    top: 55px;
    left: 37px;
    transition: all 0.8s;
}
header .h_bottom .logo h1:hover{
    cursor: pointer;
}
header .h_bottom .logo h1:hover::after{
    width: 0;
}
header .h_bottom .logo p{
    font-size: 21px;
    margin-left: 40px;
}
/* 네비게이션 부분 */
.nav_wrap{
    /* width: 100%; */
}
.nav_wrap #nav{
    width: 600px;
    height: 130px;
    margin: 0 auto;
    float: left;
}
#nav .nav_list > li{
    display: inline-block;
    /* width: calc(570px / 4); */
    width: calc(100% / 4);
    float: left;
}
#nav .nav_list > li > a{
    font-family: 'Nanum Gothic Coding', monospace;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-top: 1px;
    line-height: 100px;
}
#nav .nav_list_wrap > ul > li.dep1 {position:relative;}
#nav .nav_list_wrap > ul > li.dep1 > a {
    display: block;
    font-weight: 600;
}
#nav .nav_list_wrap > ul > li.dep1 a:hover{
    /* color: #007cf9; */
    color: #333;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2{
    z-index: 100;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2 li{
    padding: 5px 0;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2 li a{
    text-align: center;
    display: block;
    color: #666;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2 li a:hover{
    color: #000;
}
/* 찾기 버튼 부분 */
header .h_bottom .find{
    width: 150px;
    height: 130px;
    float: right;
    position: relative;
}
header .h_bottom .find input[type="search"]{
    width: 100px;
    height: 30px;
    border: 2px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;
    color: #999;
    font-size: 11px;
    position: absolute;
    top: 35px;
}
header .h_bottom .find input[type="submit"]{
    width: 30px;
    height: 30px;
    background: url(../images/find01.jpg) no-repeat;
    position: absolute;
    top: 35px;
    left: 105px;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.h_bottom .find input[type="submit"]:hover{
    cursor: pointer;
}
/* .dep1_txt에 호버 시 .hvr-underline-from-center 효과 주기 */
.dep1_txt {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .dep1_txt:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 70px;
    /* bottom: 0; */
    background: #007cf9;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .dep1_txt:hover:before, 
  .dep1_txt:focus:before, 
  .dep1_txt:active:before {
    left: 0;
    right: 0;
  }
  /* .dep1_txt에 호버 시 .hvr-underline-from-center 효과 주기 끝 */
/* 헤더영역 끝 */
/* 슬라이드 배너 영역 시작 */
/* !! 슬라이드 배너 윗 부분에 100px 여백 주기 */
.slide{
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
    position: relative;
    background-color: olive;
}
.slide .slide_wrap{
    width: calc(1200px * 4);
    width: 4800px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}
.slide .slide_wrap .box{ 
    display: inline-block;
    width: 1200px;
    height: 450px;
    font-family: 'Nanum Gothic Coding', monospace;
}
.slide .slide_wrap .box h2{
    font-size: 40px;
    font-weight: 600;
}
.slide .slide_wrap .box p,
.slide .slide_wrap .box a{
    font-size: 18px;
}
.slide .slide_wrap .box a{
    border-bottom: 3px solid #007cf9;
}
/* 박스 1번 설정 */
.slide .slide_wrap .box:nth-child(1) h2,
.slide .slide_wrap .box:nth-child(1) p,
.slide .slide_wrap .box:nth-child(1) a{
    position: relative;     
    top: 100px;
    left: 70px;
    margin-bottom: 5px; 
}
.slide .slide_wrap .box:nth-child(1) h2:last-of-type,
.slide .slide_wrap .box:nth-child(1) p:last-of-type{
    /* margin-bottom: 30px; */
}
/* 박스 2번 설정 */
/* 박스 3번 설정 */
/* 박스 4번 설정 */


.slide .slide_wrap .box:nth-child(1){
    background: url(../images/banner01.jpg) center;
    background-size: 100% ;
}
.slide .slide_wrap > .box:nth-child(2){
    background: url(../images/banner02.jpg) center;
    background-size: 100%;
}
.slide .slide_wrap .box:nth-child(3){
    background: url(../images/banner03.jpg) center;
    background-size: 100%;
}
.slide .slide_wrap .box:nth-child(4){
    background: url(../images/banner04.jpg) center;
    background-size: 100%;
}
/* 버튼 부분 설정 */
.slide #back{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    z-index: 1;
    transform: rotateY(180deg);
}
.slide #next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 1;
}
/* 슬라이드 배너 영역 끝 */