@charset "utf-8";
/* 헤더영역 시작 */
body{ font-family: 'NanumSquare', sans-serif; }
header{
    width: 100%;
    height: 200px;
    position: relative;    
}
/* 헤더 윗부분 */
header .h_top_wrap{
    width: 100%;
    height: 40px;
    background-color: #007cf9;
}
header .h_top{
    max-width: 1200px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #007cf9;
}
header .h_top p{
    text-align: center;
    color: #f4f4f4;
    line-height: 40px;
    font-size: 12px;
}
/* 헤더 아랫부분 */
header .h_bottom{
    max-width: 1200px;
    height: 130px;
    position: relative;
    margin: 0 auto;
}
/* float 해제하기 */
header .h_bottom::after{
    content: "";
    clear: both;
    display: block;
}
/* 로고 부분 */
header .h_bottom .logo{
    width: 400px;
    height: 130px;
    margin: auto 20px;
    float: left;
    font-family: 'Ubuntu Mono', monospace;
}
header .h_bottom .logo h1{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px auto 20px;
    position: relative;
}
header .h_bottom .logo h1::after{
    content: "";
    width: 40px;
    height: 5px;
    background-color: #007cf9;
    position: absolute;
    top: 55px;
    left: 37px;
    transition: all 0.8s;
}
header .h_bottom .logo h1:hover{
    cursor: pointer;
}
header .h_bottom .logo h1:hover::after{
    width: 0;
}
header .h_bottom .logo p{
    font-size: 21px;
    margin-left: 40px;
}
/* 네비게이션 부분 */
.nav_wrap{
    max-width: 100%;
}
.nav_wrap #nav{
    width: 600px;
    height: 130px;
    margin: 0 auto;
    float: left;
}
#nav .nav_list > li{
    display: inline-block;
    float: left;
}
#nav .nav_list > li > a{
    display: block;
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 100px;
    padding: 1px 20px;
}
#nav .nav_list_wrap > ul > li.dep1 {position:relative;}
#nav .nav_list_wrap > ul > li.dep1 > a {
    display: block;
    font-weight: 600;
}
#nav .nav_list_wrap > ul > li.dep1 a:hover{
    color: #333;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2{
    z-index: 100;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2 li{
    padding: 5px 0;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2 li a{
    text-align: center;
    display: block;
    color: #666;
}
#nav .nav_list_wrap > ul > li.dep1 .dep2 li a:hover{
    color: #000;
}
/* 찾기 버튼 부분 */
header .h_bottom .find{
    width: 150px;
    height: 130px;
    float: left;
    position: relative;
}
header .h_bottom .find input[type="search"]{
    width: 100px;
    height: 30px;
    border: 2px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;
    color: #999;
    font-size: 11px;
    position: absolute;
    top: 35px;
}
header .h_bottom .find input[type="submit"]{
    width: 30px;
    height: 30px;
    background: url(../images/find01.jpg) no-repeat;
    position: absolute;
    top: 35px;
    left: 105px;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.h_bottom .find input[type="submit"]:hover{
    cursor: pointer;
}
/* .dep1_txt에 호버 시 .hvr-underline-from-center 효과 주기 */
.dep1_txt {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .dep1_txt:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 70px;
    background: #007cf9;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .dep1_txt:hover:before, 
  .dep1_txt:focus:before, 
  .dep1_txt:active:before {
    left: 0;
    right: 0;
  }
/* .dep1_txt에 호버 시 .hvr-underline-from-center 효과 주기 끝 */
/* 헤더영역 끝 */
/* 슬라이드 배너 영역 시작 */
.slide{
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 50px;
}
.slide .slide_wrap{
    width: 4800px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}
.slide .slide_wrap .box{ 
    /* display: inline-block; */
    float: left;
    width: 1200px;
    height: 450px;
    position: relative;
}
.slide .slide_wrap .box h2{
    font-size: 36px;
    font-weight: 600; 
    line-height: 45px;   
}
.slide .slide_wrap .box p,
.slide .slide_wrap .box a{
    font-size: 18px;
    line-height: 22px;
}
.slide .slide_wrap .box a{
    border-bottom: 3px solid #007cf9;
    padding-bottom: 10px;
} 
.slide .slide_wrap .box a:hover{
    font-weight: bold;
    color: #666;
}

.slide .slide_wrap .box p:last-child{}

/* 문장 여백 설정 */
.slide .slide_wrap .box:nth-child(1) h2:last-of-type,
.slide .slide_wrap .box:nth-child(2) h2:last-of-type,
.slide .slide_wrap .box:nth-child(3) h2:last-of-type,
.slide .slide_wrap .box:nth-child(4) h2:last-of-type{
    margin-bottom: 25px;
}
.slide .slide_wrap .box.box:nth-child(1) p:last-of-type,
.slide .slide_wrap .box.box:nth-child(2) p:last-of-type,
.slide .slide_wrap .box.box:nth-child(3) p:last-of-type,
.slide .slide_wrap .box.box:nth-child(4) p:last-of-type{
    margin-top: 20px;
}
/* 박스 1번, 3번 설정 */
.slide .slide_wrap .box:nth-child(1) h2,
.slide .slide_wrap .box:nth-child(1) p,
.slide .slide_wrap .box:nth-child(3) h2,
.slide .slide_wrap .box:nth-child(3) p{
    position: relative;     
    top: 90px;
    left: 70px;    
}
/* 박스 2번,4번 설정 */
.slide .slide_wrap .box:nth-child(2) h2,
.slide .slide_wrap .box:nth-child(2) p,
.slide .slide_wrap .box:nth-child(4) h2,
.slide .slide_wrap .box:nth-child(4) p{
    text-align: right;
    position: relative;
    top: 100px;
    right: 80px;
    margin-bottom: 5px;    
}

.slide .slide_wrap .box:nth-child(1){
    background: url(../images/banner01.jpg) center;
    background-size: 100% ;
}
.slide .slide_wrap > .box:nth-child(2){
    background: url(../images/banner02.jpg) center;
    background-size: 100%;
}
.slide .slide_wrap .box:nth-child(3){
    background: url(../images/banner03.jpg) center;
    background-size: 100%;
}
.slide .slide_wrap .box:nth-child(4){
    background: url(../images/banner04.jpg) center;
    background-size: 100%;
}
/* 버튼 부분 설정 */
.slide #back{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    z-index: 1;
    transform: rotateY(180deg);
}
.slide #next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 1;
}
/* 슬라이드 배너 영역 끝 */
/* 후원버튼 영역 시작 */
/* 후원버튼 왼쪽 문구 부분 */
.support{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    clear: both;
    background-color: #f6f9fb;
}
/* float 해제하기 */
/* .support::after{
    content: "";
    clear: both;
    display: block;
} */
.support .s_txt {
    width: calc(50% - 80px);
    height: 100%;
    float: left;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 32px;
    line-height: 100px;
    padding-left: 80px;
}

.support .s_txt span{ font-size: 46px;}
#blue{ color: #007cf9; }

/* 후원버튼 오른쪽 아이콘 부분 */
.support .s_btn{
    width: 50%;
    height: 100%;
    float: left;
    margin-bottom: 100px;
}
.support .s_btn ul li{
    float: left;
    width: 200px;
    height: 100px;
    background-size: 40px 40px ;
    background-repeat: no-repeat;
    background-position: left 10px center;
}
.support .s_btn ul li a{
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 100px;
    left: 60px;
}
.support .s_btn ul li:nth-child(1){
    background-image: url(../images/s_icon01.png)   ;
}
.support .s_btn ul li:nth-child(2){
    background-image: url(../images/s_icon02.png)  ;
}
.support .s_btn ul li:nth-child(3){
    background-image: url(../images/s_icon03.png) ;
}
/* 후원버튼 영역 끝 */
/* 구조동물공고 영역  id="save" 시작*/
#save{
    clear: both;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-color: #f6f9fb;
    margin-bottom: 20px;
}
#save .save_top{
    width: 100%;
    height: 80px;
    padding-top: 20px;
}
#save .save_top img{
    float: left;
    width: 30px;
    height: 30px;
}
#save .save_top p{
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
#save .save_top p:nth-of-type(1){
    float: left;
    font-size: 20px;
    font-weight: bold;
}
#save .save_top p:nth-of-type(2){
    clear: both;
    font-size: 16px;
}
/*  구조동물공고 아랫부분 */
#save .save_bottom{
    width: 100%;
    height: 500px;
}
#save img{
    width: 100%;
    height: 100%;
}
/* 구조동물공고 영역 왼쪽 부분 :사진 1개*/
#save .save_bottom .s_b_left{
    width: 500px;
    height: 500px;
    float: left;
    border: 5px solid #f6f9fb;
    box-sizing: border-box;
    position: relative;
}

/* 구조동물공고 영역 오른쪽 부분 : 사진 2 x 2 */
#save .save_bottom .s_b_right{
    width: 700px;
    height: 250px;
    float: left;    
}
#save .save_bottom .s_b_right .s_b_r_box{
    float: left;
    width: 350px;
    height: 250px;
    border: 5px solid #f6f9fb;
    box-sizing: border-box;
    position: relative;
}
/* 호버 시 나타나는 안내 문구 부분 설정 */
#save .save_bottom .s_b_left .box_content {width: 495px;}
#save .save_bottom .s_b_right .s_b_r_box .box_content {width: 345px;}
#save .box_content{
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}
#save .save_bottom .box_content:hover {
    height: 100px;
}
#save .box_content h1{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
}
/* 여백 설정 */
#save .save_bottom .s_b_left,
#save .save_bottom .s_b_right .s_b_r_box:nth-child(odd){
    border-right: 0px;
}
#save .save_bottom .s_b_right .s_b_r_box:nth-child(1),
#save .save_bottom .s_b_right .s_b_r_box:nth-child(2){
    border-bottom: 0;
}
/* 구조동물공고 영역  id="save" 끝*/
/* 입양대기 목록 영역 id="adopt" 시작*/
#adopt{
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-color: #f6f9fb;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 100px;
}
#adopt .adopt_txt{
    width: 280px;
    height: 100%;
    float: left;
    margin-right: 20px;
    position: relative;
}
p.title{
    font-size: 26px;
    margin: 20px 0 15px 20px;
}
#adopt .adopt_txt p{
    margin-left: 20px;
}
#adopt .adopt_txt p:nth-child(2)::after{
    content: "";
    width: 250px;
    height: 5px;
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: #007cf9;
}
#adopt .adopt_txt .a_t_icon{
    width: 120px;
    height: 50px;
    /* left: 50%;    transform: translateX(-50%); */
    float: right;
    margin-top: 55%;
}
#adopt .adopt_txt .a_t_icon img{
    width: 40px;
    height: 40px;
    float: left;    
}
#adopt .adopt_txt .a_t_icon img:nth-child(1){
    margin-right: 20px;
}
/* 입양대기 사진 목록 부분 */
/*  수정중 */
#adopt .adopt_pic .adopt_pic_wrap{
    width: 1900px;
    height: 100%;
    position: relative;
}
/*  수정중 */
#adopt .adopt_pic{
    overflow: hidden;
    max-width: 900px;
    height: 100%;
    float: left;
}
#adopt .adopt_pic .box{
    float: left;
    width: 210px;
    height: 100%;
    border: 5px solid #f6f9fb;
    box-sizing: border-box;
    margin-right: 20px;
}
#adopt .adopt_pic .box .box_pic{
    width: 200px;
    height: 160px;
}
#adopt .adopt_pic .box:nth-child(1) .box_pic{ background: url(../images/adopt07_200x160.jpg) no-repeat;}
#adopt .adopt_pic .box:nth-child(2) .box_pic{ background: url(../images/adopt08_200x160.jpg) no-repeat;}
#adopt .adopt_pic .box:nth-child(3) .box_pic{ background: url(../images/adopt09_200x160.jpg) no-repeat;}
#adopt .adopt_pic .box:nth-child(4) .box_pic{ background: url(../images/adopt10_200x160.jpg) no-repeat;}

#adopt .adopt_pic .box:nth-child(5) .box_pic{ background: url(../images/adopt_02.jpg) center/260px 160px no-repeat;}
#adopt .adopt_pic .box:nth-child(6) .box_pic{ background: url(../images/adopt_03.jpg) bottom/200px 260px no-repeat;}
#adopt .adopt_pic .box:nth-child(7) .box_pic{ background: url(../images/adopt_04.jpg) bottom/200px 240px no-repeat;}
#adopt .adopt_pic .box:nth-child(8) .box_pic{ background: url(../images/adopt_05.jpg) bottom/200px 160px no-repeat;}

#adopt .adopt_pic .box .box_txt{
    margin-top: 20px;
}
/* 입양대기 목록 영역 id="adopt" 끝*/
/* 포스터 영역 시작 class="container" */
.container{
    max-width: 1200px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 100px;
}  
.container p{
    padding-left: 50px;    
    font-size: 20px;
    color: #007cf9;
    font-weight: bold;
    line-height: 30px;
}
.container p:nth-child(1){
    font-size: 36px;
    letter-spacing: 1.5px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000;
}
.container p:nth-child(4){
    padding-top: 30px;
    color: #000;
    font-weight: 500;
}
.container p:nth-child(4) a{
    font-family: 'Ubuntu Mono', monospace;
    border-bottom: 3px solid #007cf9;
    padding-bottom: 10px;
}
.container p:nth-child(4) a:hover{
    font-weight: bold;
}
/* 1번 포스터 부분 */
#poster_one .con_txt{
    width: 50%;
    height: 100%;
    float: left;
}
#poster_one .con_img{
    width: 50%;
    height: 100%;
    float: left;
    background: url(../images/container01.png) no-repeat;
}

/* 2번 포스터 부분 */
#poster_two .con_img{
    width: 830px;
    height: 100%;
    float: left;
    background: url(../images/container02.png) no-repeat;
}
#poster_two .con_txt{
    width: 350px;
    height: 100%;
    float: left;
}


/* 3번 포스터 부분 : 게시판 글+사진*/
#board{
    height: 200px;      
}
#board .con_box{
    float: left;
    width: calc(100% / 4 - 6px);
    height: 100%;
    border: 3px solid #f6f9fb;
    overflow: hidden;
    padding: 0;    
}
/* 텍스트박스 부분 */
#board_txt{
    width: 100%;
    height: 195px;
}
#board_txt p{
    color:#000;
    font-size: 14px;
    padding: 0px;
    margin: 10px;    
}
#board_txt p.b_title{
    font-size: 20px;
    font-weight: bold;
}
#board_txt p.b_sub_title{
    font-size: 16px;
}
#board_txt p:last-child{
    line-height: 20px;
    font-weight: 400;
}
/* 사진박스 부분 */
#board .con_box:nth-child(2){
    background: url(../images/container03.png) no-repeat;
}
#board .con_box:nth-child(4){
    background: url(../images/container04.png) no-repeat;
}
/*  4번 포스터 부분 : 후원 */
#donate{
    height: 280px;
    background: url(../images/container05.png) no-repeat center/cover;
}
#donate p{
    font-family: 'Ubuntu Mono', monospace;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    margin: 25px;    
    margin-bottom: 15px;
    padding-top: 70px;
}

#donate span{      
    display: inline-block;
    background-color: #007cf9;
    width: 100px;
    height: 45px;
    border: 1px solid #007cf9;
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 80px;
    cursor: pointer;
}
#donate span:hover{
    font-weight: bold;
}
#donate a{
    line-height: 45px;
    color: #f6f9fb;
    font-size: 17px;
    letter-spacing: 1.2px;
}
/* 포스터 영역 끝 class="container" */  
/*푸터 영역 시작*/
footer{
    width: 100%;
    background-color: #007cf9;
}
footer .footer-wrap{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-color: #007cf9;
}
/* 푸터 왼쪽 - 로고, 주소..*/
footer .footer-wrap .f-left{
    width: 590px;
    float: left;
    margin-left: 10px;
    margin-top: 50px;
}
footer .f-left .f-l-top{
    width: 280px;
    height: 140px;
    margin-bottom: 20px;
    background: url(../images/logo01.png) no-repeat bottom;
    background-size: 80%;
}
footer .f-left .f-l-bottom p{
    margin-top: 10px;
    color: #f4f4f4;
}

/* 푸터 오른쪽 - 메뉴*/
footer .footer-wrap .f-right{
    float: left;
    margin-left: 10px;
    margin-top: 130px;
}
footer .f-right ul li{
    width: 25%;
    text-align: center;
    float: left;
}
footer .f-right ul li a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;    
}
/* 푸터 서브메뉴 부분*/
footer .footer-wrap .f-right .f-submenu{
    width: 590px;
    margin-top: 20px;
    float: left;
}
footer .footer-wrap .f-right .f-submenu ul{
    width: 25%;    
    float: left;
}
footer .footer-wrap .f-right .f-submenu ul li{
    width: 100%;
    margin: 5px auto;
    font-size: 0.8em;
    text-align: center;
}
/* 푸터 영역 끝*/
/* 위로가기 버튼 영역 시작 */

.go-top{
	display:block;
	width:50px;
	height:50px;
	line-height:52px;
	text-align:center;
    font-size:1rem;
    font-weight: bold;
	position:fixed;
	bottom:-50px;
	right:20px;
    transition: all 1s ease;
	background-color:#007cf9;
	color:#FFFFFF;
	text-decoration:none;
	border-radius:50%;
}

.go-top.show{
	bottom:20px;
}

.go-top:hover{
	background-color:#0367cc;
	color:#FFFFFF;
}
/* 위로가기 버튼 영역 끝 */


/* 폰트 설정
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Ubuntu Mono', monospace;
*/